<section id="contacts">
  <% @contacts.each do |contact| %>
    <div class="contact row">
      <div class="span3">
        <h1><%= contact.full_name %></h1>
        <a class="email" href="mailto:<%= contact.email_address %>"><%= contact.email_address %></a>
        <div class="interest"><span class="label success"><%= contact.interest %></span></div>
      </div>
      <div class="span12">
        <p><%= contact.message %></p>
      </div>
    </div>
  <% end %>
</div>
